#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# This group is read by the server
#
[mysqld]
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

#
# include all files from the config directory
#
# It doesn't exist in ubuntu file directory
#!includedir /etc/my.cnf.d

[mysqld]
log-output=FILE

# Disable general log.
general-log=0
general_log_file=""

# Enable slow query log.
slow_query_log=1
slow_query_log_file="/var/log/mysql/slow.log"
long_query_time=0.1
log_queries_not_using_indexes=1

# Enable error log.
log_error="/var/log/mysql/error.log"
log_warnings=1

# Enable binary(replication) log. (MySQL 5.6.5 or later/MariaDB 10.1.6 or later)
# /var/lib/mysql
log_bin=mysql-bin
binlog_format=MIXED
max_binlog_size=134217728
expire_logs_days=7
# server-id=1
# innodb_flush_log_at_trx_commit=1
# sync_binlog=1

# 5.5.3 or later.
character-set-server=utf8mb4
innodb_file_per_table
# 10.2.1 or earlier
# innodb_large_prefix
# innodb_file_format=Barracuda
# innodb_file_format_max=Barracuda
# 10.1.32/10.2.2 or later
innodb_default_row_format=dynamic

[client]
# 5.5.3 or later.
default-character-set=utf8mb4